[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-google-genai = "*"
langchain-chroma = "*"
langchain-community = "*"
langsmith = "*"
python-dotenv = "*"
langchain-openai = "*"
numexpr = "*"
duckduckgo-search = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.7"
